/*GLOBAL*/

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

.vh {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.container {
  width: 1200px;
}

/*Navigation*/

.navbar {
  border-bottom: 3px solid #82929e;
  padding: 1rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  font-size: 2rem;
  background-color: #f4f4f8 !important;
  transition: 0.8s;
}

.navbar .navbar-brand {
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin-right: 10%;
}

.navbar .nav-link {
  margin: 0 1rem;
  color: #9e9eac;
}

.navbar .nav-link:hover {
  color: #213847;
}

.navbar .nav-social div {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  display: inline-block;
}

.navbar:has(.navbar-brand:hover) {
  background-color: #213847 !important;
}

/*navbar social*/

.navbar .nav-social .fb-full,
.navbar .nav-social .li-full {
  display: none;
}

.navbar .nav-social .facebook:hover .fb-empty {
  width: 6rem;
  display: none;
}

.navbar .nav-social .facebook:hover .fb-full {
  display: inline-block;
  width: 100%;
}

.navbar .nav-social .linked-in:hover .li-empty {
  display: none;
}

.navbar .nav-social .linked-in:hover .li-full {
  display: inline-block;
  width: 100%;
}

/*Hero*/

.hero-wrapper {
  transition: 0.8s;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .hero-txt h2 {
  text-align: center;
  font-size: 3.5rem;
  color: #213847;
  transition: 0.6s;
}

.hero .hero-logo {
  width: 175px;
  height: 175px;
  border: 3px #82929e solid;
  border-radius: 50%;
  padding: 35px;
  margin: 0 auto;
  margin-bottom: 10rem;
  background-color: #213847;
  transition: 0.8s;
}

hr {
  margin: 0 auto;
  height: 1.5px;
  background: #213847;
  width: 80%;
}

.hero-wrapper:has(.hero-logo:hover) {
  background-color: #213847 !important;
}

.hero-logo:hover {
  background-color: #f4f4f8;
}

.hero:has(.hero-logo:hover) h2 {
  color: #9e9eac;
}

/*Gallery*/

.gallery div.row div {
  padding: 2rem;
  margin: 2.5rem;
  margin-top: 10rem;
}

.gallery div.row div:hover {
  background-color: #f4f4f8;
  -webkit-box-shadow: 10px 10px 6px -4px rgba(201, 201, 201, 1);
  -moz-box-shadow: 10px 10px 6px -4px rgba(201, 201, 201, 1);
  box-shadow: 10px 10px 6px -4px rgba(201, 201, 201, 1);
}

.gallery .logo {
  height: 100%;
}

/*Contact*/

.contact-wrapper {
  background-color: #213847;
  padding: 3rem 0;
  border-top: 3px solid #82929e;
  margin-top: 35rem;
}

.contact {
  color: #bebec3;
  height: 100%;
  width: 100%;
}

.contact form .text-area {
  height: 80px;
}

.contact .row {
  justify-content: center;
}

.contact .btns {
  justify-content: left;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.contact .sub-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .sub-btn button {
  width: 10rem;

  font-size: 1.5rem;
}

.contact .copy {
  padding-top: 10px;
}

.e-mail {
  text-align: end;
  font-size: 1.2rem;
}

.contact .input-group-addon {
  background: none;
  border-left: none;
}

.contact form .row {
  height: 100%;
}

.contact .error {
  height: 40px;
}

.fa {
  position: absolute;
  top: 35%;
  right: 10px;
  z-index: 5;
  font-size: 1.5rem;
}

.contact .form-control {
  border-right: none;
  resize: none;
  border: 5px solid #82929e;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
}

.contact .form-control:focus {
  border-color: rgba(151, 156, 167, 0.7);
}
.has-danger .form-control:focus {
  border-color: #bd2130;
}

.has-success .form-control:focus {
  border-color: #5cb85c;
}

.has-danger .form-control {
  border-color: #bd2130;
}

.has-success .form-control {
  border-color: #5cb85c;
}

.has-danger .fa {
  color: #bd2130;
}

.has-success .fa {
  color: #5cb85c;
}

.contact .submit-btn:hover {
  background-color: #979ca7;
}

.bot-mail p {
  text-indent: 0;
}

.copy #copy-btn {
  color: #bebec3;
  padding: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
}

.copy #copy-btn:hover {
  color: white;
  border-color: white;
}

/*Logo page*/

.logo-single {
  font-size: 2rem;
  height: 770px;
  margin-top: 15%;
  background-color: #213847;
  box-shadow: 10px 10px 5px;
  color: #bebec3;
  position: relative;
  overflow: hidden;
}

.l-img {
  padding-right: 0;
  position: relative;
  width: 810;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-img img {
  width: auto;
  height: auto;
}

.logo-wrapper {
  margin: 0 auto;
  min-height: 100%;
}

.s-background {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
}

.s-logo {
  z-index: 3;
}

.left {
  padding-left: 2rem;
  padding-top: 4rem;
}

.slider {
  margin-bottom: 5rem;
  border: 3px solid #82929e;
}

.slider ul {
  margin-bottom: 0;
}
